//my colors
@grey: 			#E8E8E8;
@black: 		#000;
@light-grey:    #696C6E;
@white:			#fff;
@dark-grey:		#2D2928;


.bg-light-gray {
	background-color: @dark-grey;
}

.bg-white {
	background-color: @white;
}

.bg-black {
	background-color: @black;
}


body {
	background: @black;
}


p{
	color: @white;
}


h2{
	color: @light-grey;
}



.top-nav{
	text-align: right;
}

.branding{
	display:inline;
	float:none;
}

.navbar{
	background-color: @black;
}



.maintop{
	background-color: @dark-grey;
}

.mainmid{
	background-color: @black;
}
.mainbot{
	background-color: @white;
}




.footer-container{
 	margin-right: 60px;
	background-color: @dark-grey;
}



.contact h2{
	font-size: 18px;
	color: @light-grey;
	line-height: 21px;
}

.contact p{
	font-size: 14px;
	color: @grey;
	line-height: 17px;
}

.connect h2{
	font-size: 18px;
	color: @light-grey;
	line-height: 21px;
}

.connect ul li i{
	color: @white;
	font-size: 18px;

}


.disclaimer {
font-size: 14px;
color: @light-grey;
line-height: 17px;
text-align: center;
}
