@import "variables.less";
@import "mixins.less";



//UNIVERSAL
p{
	color: @white;
	font-size: 1.1em;
	line-height: 1.4em;
	padding: 0 2%;
}

h2, h3{
	color: @very-light-grey;
	padding: 0 2%;
}

.btn-danger {
	background-color: @light-grey;
	border: none;
	margin: 2%;
}

.btn-danger:hover {
	background-color: @dark-grey;
	margin: 2%;
}

.btn-primary{
	background-color: @light-grey;
	border: none;
	margin: 2%;
}

.btn-primary:hover {
	background-color: @dark-grey;
	margin: 2%;
}

.main>article {
	margin: 0 5%;
}

.sidebar>aside {
	padding-right: 5%;

	@media(max-width: 767px) {
		padding-left: 5%;
	}
}




//PHOTO GRID
.photogrid img {
	width: 96px;
	margin: 5px;
	cursor: pointer;

	@media (max-width: 990px) {
		width: 96px;
	}
}

.memberinfo {
	.photogrid img {
		width: 72px;
		margin: 0 5px 5px 0;
		cursor: pointer;
	}
}






//HEADER
.header{
	background-color: @black;
}




//NAVBAR
.top-nav{
	text-align: right;
}

.branding{
	display:inline;
	float:none;
}

.navbar{
	background-color: transparent;
}





//BODY

.bg-light-grey {
	background-color: @light-grey;
	padding: 100px 0;
	h2 {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
    }

}

.bg-black {
	background-color: @black;
	padding: 100px 0;
	h2 {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
    }

}

.bg-white {
	background-color: @white;
	padding: 100px 0;
	h2{
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
    }

}

.bg-white p {
	color: @dark-grey;
}

body {
	//overflow-x: hidden;
	
}






//INDEX
.intro-social{
	color: @white;
	padding-left: 50px;
	padding-right: 50px;
}




//ABOUT
#about2{
	background-image: url('/images/misc/ss-background.png');
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
}



//MEMBERS
.aboutthemembersgrid {
	.photogrid img {
		width: 140px;
		margin: 10px;
		cursor: pointer;
	}
	
}

.member-modal p{
	color: @black;
}

.modal-content {
	text-align: left;
}




//GALLERY
.gallery-pictures {
	padding: 30px;
}




//BOOKING

.personal-type{
	padding: 0 2%;
	margin-bottom: 40px;
	border-bottom: none;
}

.booking-type{
		padding: 0 2%;
	margin-bottom: 20px;
	border-bottom: none;
}

.booking-info ul li i{
	color: @dark-grey;
	font-size: 24px;
}

.booking-info{
		.photogrid img {
		width: 72px;
		margin: 0 5px 5px 0;
	}
}


.row .booking-row {
margin-left: 0px;
margin-right: 35px;
}

fieldset{
	margin-bottom: 40px;
}

.booking-info img
{
   filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
   -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.aboutthemembersgrid img:hover , .booking-info img:hover
{
    filter: none;
    -webkit-filter: none;
}


//FOOTER
.footer-container{
 	margin-right: 60px;
	background-color: @dark-grey;
}


.footer-side1{
	position: relative;
	z-index: 1;
}

.footer-side2{
	position: relative;

	z-index: 1;
}


.footer-logo1{
	position: relative;
	margin-top: -50px;
	margin-bottom: 10px;
	margin-left: 20px;
}


.contact h2{
	font-size: 18px;
	color: @light-grey;
	line-height: 21px;
}

.contact p{
	font-size: 14px;
	color: @grey;
	line-height: 17px;
}

.connect h2{
	font-size: 18px;
	color: @light-grey;
	line-height: 21px;
}

.connect ul li i{
	color: @white;
	font-size: 24px;
}

.disclaimer {
font-size: 14px;
color: @light-grey;
line-height: 17px;
text-align: center;
}



