//MY COLORS
@grey: 			  #E8E8E8;
@black: 		  #000;
@light-grey:      #696C6E;
@white:			  #fff;
@dark-grey:		  #2D2928;
@very-light-grey: #9D9D9C;




//UNIVERSAL
p{
	color: @white;
	
	font-size: 1.1em;
	line-height: 1.4em;
	padding: 0 2%;
}

h2, h3{
	color: @very-light-grey;
}

.btn-danger{
	background-color: @light-grey;
}



//PHOTO GRID
.photogrid img {
	width: 96px;
	margin: 5px;
	cursor: pointer;

	@media (max-width: 990px) {
		width: 96px;
	}
}

.memberinfo {
	.photogrid img {
		width: 72px;
		margin: 0 5px 5px 0;
		cursor: pointer;
	}
}

//.aboutthemembersgrid img, .booking-info img
//{
//   filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
//    filter: gray; /* IE6-9 */
//   -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
//}
//
//.aboutthemembersgrid img:hover , .booking-info img:hover
//{
//    filter: none;
//    -webkit-filter: none;
//}




//HEADER
.header{
	background-color: @black;
}

.top-nav{
	text-align: right;
}

.branding{
	display:inline;
	float:none;
}

.navbar{
	background-color: @black;
}




//BODY

.bg-light-gray {
	background-color: @light-grey;
}

.bg-black {
	background-color: @black;
}

.bg-white p {
	color: @dark-grey;
}

body {
   background-image: url("images/misc/SS.jpg");
}




//INDEX
.intro ul li i{
	color: @white;
	font-size: 48px;
}





//ABOUT




//MEMBERS
.aboutthemembersgrid {
	.photogrid img {
		width: 140px;
		margin: 10px;
		cursor: pointer;
	}
	padding: 30px;
}

.member-modal p{
	color: @black;
}

//GALLERY



//BOOKING
.booking-info ul li i{
	color: @dark-grey;
	font-size: 18px;
}

.booking-info{
		.photogrid img {
		width: 72px;
		margin: 0 5px 5px 0;
	}
}



//FOOTER
.footer-container{
 	margin-right: 60px;
	background-color: @dark-grey;
}

.contact h2{
	font-size: 18px;
	color: @light-grey;
	line-height: 21px;
}

.contact p{
	font-size: 14px;
	color: @grey;
	line-height: 17px;
}

.connect h2{
	font-size: 18px;
	color: @light-grey;
	line-height: 21px;
}

.connect ul li i{
	color: @white;
	font-size: 18px;
}

.disclaimer {
font-size: 14px;
color: @light-grey;
line-height: 17px;
text-align: center;
}



